<html>
    <head>
    </head>
    <body>
        <h2>{{ name }}</h2>
        <p> {{ start }}--- {{ end }}</p>
        
        <p>Language : {{ language }}</p>
        
        <p>Genres </p>
        {% for gen in genre %}
        <li>{{ gen }}</li>
        {% endfor %}
        <p>Channel - {{ network }} </p>
        <p>facebook :{{ facebook }}</p>
        <p>Rating - {{ rating }}</p>
        <p>Synopsis : {{ synopsis}}</p>
        {% for season in seasons %}
        <li><a href="/web/season/{{season.id }}/">{{season.title }}</a></li>
         <p>{{ season.start }}-{{season.end}}</p>
         {% endfor%}
    </body>
</html>
